exportPattern("^[[:alpha:]]+")
importFrom("optimbase","transpose")
importFrom("optimbase","size")
importFrom("utils", "setTxtProgressBar", "txtProgressBar","flush.console")
importFrom("stats", "qnorm", "sd")
